# Settings.
resolution-mode=time-based
save-prefix=
use-node-version=18.12.1

# Authorization. Make sure you setup those variables in your home directory.
//gitlab.radratteam.pl/api/v4/projects/27/packages/npm/:_authToken=${RR_GITLAB_ACCESS_TOKEN}

# Registries for scopes packages.
@radrat-internal:registry=https://gitlab.radratteam.pl/api/v4/projects/27/packages/npm/
